
.body {
  background-color: bisque;
  color: #333;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: 30% ;

}
.form {
  padding: 50px;
  margin: 30px auto;
  max-width: 60%;

}
.form__fieldset {

  background-color: #eee;
  border: #777 1px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 30px;
}
.form__legend {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hiddenParagraph {
  visibility: hidden;
  margin: 30px auto;
  max-width: 60%;

}



